/* geral */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    color: white;
}
button {
    background-color: #D4145A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
/* header */


header{
    background-color: black;
    height: 120px;
}
header .container {
    height: 120px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo_header {
    height: 120px;
    display: flex;
    width:620px;
    align-items: center;
}
header .logo_header img {
    margin-bottom: 8px;
    margin-right: 23px;
    height: 69px;
    width: 277px;
}
header .texto_header {
    height: 54px;
    font-size: 20px;
    color: white;
    line-height: 27.4px;
}
header .menu_header {
    font-size: 20px;
    color: white;
    line-height: 27.4px;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

/* body */

.main_body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.banner_background {
    height: 1336px;
    width: 100%;
    background-image: url('assets/jpg/BG_TOPO.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.banner_background .wrapper {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.banner_background .banner_container {
    height: 1090px;
    width: 1440px;

}
.banner_background .texto_profissional {
    height: 120px;
    width: 659px;
    margin: 220px 0 0 135px;
}
.nao_banner {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nao_banner .wrapper {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.titulo_50_400 {
    color: #333333;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.titulo_50_800 {
    color: #333333;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.titulo_30_400 {
    color: #333333;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.texto_30_400 {
    color: #333333;
    font-size: 30px;
    font-weight: 400;
}
.titulo_30_800 {
    color: #333333;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.titulo_25_800 {
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
}
.texto_200_400 {
    color: #333333;
    font-size: 20px;
    font-weight: 400;
}
.texto_200_800 {
    color: #333333;
    font-size: 20px;
    font-weight: 800;
}
.texto_25_400 {
    font-size: 25px;
    font-weight: 400;
    line-height: 32.5px;
    color: #333333;
}
.banner_background .clientes_melhores {
    height: 50px;
    width: 760px;
    margin: 50px 0 0 135px;    
}
.banner_background .clientes_melhores p {
    color:  #333333;
    font-size: 30px;
}
.banner_background .botao_teste {
    /* height: 89px;
    width: 430px;
    margin: 50px 0 0 135px;     
    border-radius: 44px;
    background-color: #D4145A;
    display: flex;
    align-items: center;
    justify-content: center; */
    margin: 50px 0 0 135px; 
    font-size: 30px;
    font-weight: 500;
    border-radius: 38px;
}
.texto_branco_botao {
    height: 50px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.banner_background .banner_obj_centralizado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.banner_background .hashtag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
    width: 1200px;
    margin: 68px 0 0 0;
}
.banner_background .tenha_acesso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
    width: 1200px;
}
.banner_background .tenha_acesso spam {
    font-size: 30px;
    font-weight: 800;
    color:  #333333;
}
.banner_background .flex_linha {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 30px;
}
.banner_background .botao_370x70 {
    height: 70px;
    width: 370px;
    border-radius: 35px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.banner_background .botao_470x70 {
    height: 70px;
    width: 470px;
    border-radius: 35px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.banner_background .fonte_botoes {
    color: #D4145A;
    font-size: 30px;
    font-weight: 800;
}
.banner_background .botao_conheca_posicao {
    height: 90px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_background .botao_conheca {
    /* height: 89px;
    width: 430px;
    border-radius: 44px;
    background-color: #D4145A;
    display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 30px;
    font-weight: 500;
    border-radius: 38px;
}

/* pagina 2 */
.como_transformaremos {
    margin: 80px auto;
    width: 1200px;
    height: 210px;
}
.como_transformaremos p {
    font-size: 80px;
    font-weight: 800;
    color:  #333333;
    text-align: center;
}
.imagem_triangulo {
    height: 522px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto_triangulo {
    height: 522px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.texto_triangulo spam {
    width: 492px;
    font-size: 30px;
    font-weight: 800;
    color:#333333;
}
.texto_triangulo p {
    width: 492px;
    font-size: 20px;
    color:#333333;
}
.texto_triangulo p b {
    font-size: 20px;
    color: #333333;
}
.aspas {
    margin: 40px auto;
    width: 1200px;
    height: 20px;

}
.texto_aspas {
    width: 1200px;
    display: flex;
    justify-content: center;
}
.texto_aspas p {
    font-size: 35px;
    text-align: center;
    color:  #333333;
}
.caixa_preta {
    margin: 250px auto 250px auto;
    width: 1310px;
    height: 540px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.caixa_preta .texto_como_funciona {
    margin-top: 60px;
    width: 1200px;
    height: 50px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;

}
.caixa_preta .texto_inscricao {
    margin-top: 60px;
    width: 1200px;
    height: 150px;
    font-size: 30px;
    text-align: center;
}
.caixa_preta .container_caixas {
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.caixa_preta .caixas {
    height: 291px;
    width: 370px;
    background-color: #EAEAEA;
    border-radius: 10px;
    box-shadow: 0px 5px 0px #bbbbbb;
}

.caixa_preta .container_caixas .texto_titulo_caixas {
    margin: 25px auto 5px auto;
    width: 300px;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    color: #393939;
}
.caixa_preta .caixas .separador_caixas {
    margin: 5px auto 5px auto;
    width: 90px;
    height: 5px;
    background-color: #D4145A;
}
.caixa_preta .caixas .texto_conteudo_caixas {
    margin: 5px auto 5px auto;
    width: 300px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #393939;
}

/* pagina 3 */

.botao_sete_dias {
    /* height: 90px;
    width: 720px;
    background-color: #D4145A;
    border-radius: 45px;
    display: grid;
    place-items: center; */
    font-size: 30px;
    font-weight: 500;
    border-radius: 38px;
}
.video_player {
    margin: 100px auto;
    width: 970px;
    height: 546px;
    background-color: #393939;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper_caixas_alunos {
    margin-top: 100px;
    width: 1200px;
    height: 920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.wrapper_caixas_alunos .container_caixas_alunos {
    margin-top: 40px;
    width: 370px;
    height: 315px;
    border-radius: 10px;
    border: 3px solid #EAEAEA;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #ffffff;
}
.wrapper_caixas_alunos .container_caixas_alunos.vermelho {
    margin-top: 0px;
    background-color: #D4145A;
}
.wrapper_caixas_alunos .container_caixas_alunos.baixo {
    height: 291px;
}
.wrapper_caixas_alunos .container_caixas_alunos.alto {
    margin-top: -40px;
    height: 382px;
}
.texto_conteudo_caixas_alunos {
    padding: 25px 25px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: justify;
    color: #393939;
}
.texto_conteudo_caixas_alunos.vermelho {
    color: #ffffff;
}
.container_caixas_alunos .texto_assinatura_caixas_alunos {
    width: 355px;
    padding: 10px 25px 0 0;
    font-size: 16px;
    line-height: 16px;
    color: #393939;
    text-align: end;
}
.container_caixas_alunos .texto_assinatura_caixas_alunos.vermelho {
    color: #ffffff;
}
.container_caixas_alunos img {
    position: absolute;
    bottom: -65px;
}
.botao_assine_agora {
    margin-top: 140px;
    /* height: 90px;
    width: 340px;
    background-color: #D4145A;
    border-radius: 45px; */
    font-size: 30px;
    font-weight: 500;
    border-radius: 38px;
    /* display: grid;
    place-items: center; */
}
.container_quem_produz {
    width: 1200px;
    margin-top: 214px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.carrossel_professores_bg {
    margin: 40px 0 50px 0;
    width: 100%;
    height: 425px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
}
.carrossel_professores_gradient {
    width: 1440px;
    height: 425px;
    position: absolute;
    background: linear-gradient(90deg,
     rgba(0,0,0,1) 0%,
     rgba(0,0,0,0) 203px,
     rgba(0,0,0,0) 1237px,
     rgba(0,0,0,1) 100%);
}
.container_carrossel_professores {
    width: 1440px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 80px;

}
.container_carrossel_professores .container_professores {
    margin-top: 39px;
    width: 270px;
    height: 336px;
    border-radius: 8px;
    border: 2px solid #333333;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container_professores .bg_nomes {
    width: 198px;
    height: 48px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    bottom: -20px;
    display: grid;
    place-items: center;
}
.container_professores .bg_nomes spam {
    color:#333333;
    font-size: 16px;
}
.container_equipe {
    width: 969px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
}
.container_equipe spam {
    width: 969px;
}
.container_equipe .img_equipe_pequena {
    width: 269px;
    height: 336px;
    border-radius: 10px;
}
.container_equipe .img_equipe_media {
    width: 370px;
    height: 336px;
    border-radius: 10px;
}
.container_equipe .img_equipe_grande {
    width: 469px;
    height: 336px;
    border-radius: 10px;
}
.container_conclusao {
    width: 969px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
}
.container_conclusao .errar_custa {
    margin-top: 167px;
    font-size: 114px;
    font-weight: 800;
    color: #333333;
}
.container_conclusao .errar_custa b {
    color: white;
    background-color: #D4145A;
    padding: 5px 15px;
    border-radius: 15px;
}
.banner_background .pos_carrossel {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.pos_carrossel .box_educacao_transforma {
    width: 960px;
    height: 260px;
    border: 6px solid #D0D0D0;
    border-radius: 10px;
    box-shadow: 0px 5px 0px #bbbbbb;
}
.pos_carrossel .box_educacao_transforma p {
    padding: 30px 70px;
    font-size: 33px;
    font-weight: 400;
    line-height: 40px;
    color: #333333;
}
.pos_carrossel .box_educacao_transforma p b {
    font-weight: 800;
    color: #333333;
}
.pos_carrossel .container_conclusao .botao_teste {
    margin: 170px auto;
    font-size: 30px;
    font-weight: 500;
    border-radius: 38px;
}
.pos_carrossel .quer_receber_noticias {
    width: 1280px;
    font-size: 45px;
    font-weight: 800;
    color: #333333;
    text-align: center;
}
.pos_carrossel .container_assine {
    margin-top: 20px;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container_assine .box_email {
    width: 570px;
    height: 90px;
    border-radius: 45px;
    border: 2px solid #333333;
    display: flex;
    align-items: center;
}
.container_assine .box_email spam {
    font-size: 30px;
    font-weight: 800;
    color: #999999;
    margin-left: 30px;
}

/* footer */
footer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    background-color: black;
}

.wrapper_footer {
    height: 255px;
    width: 1336px;

    display: flex;
    justify-content: space-between;
}
.wrapper_footer .footer_esq {
    width: 380px;
}
.footer_esq .botao_subir {
    margin-top: 46px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    background-color: rgba(0,0,0,0);
    padding: 5px 5px;
}

.wrapper_footer .botao_subir spam {
    font-size: 20px;
    color: #c4c4c4;
}
.wrapper_footer .footer_centro {
    width: 380px;
    display: flex;
    flex-direction: column;
}
.wrapper_footer .footer_centro img {
    margin-top: 46px;
}
.wrapper_footer .footer_centro p {
    margin-top: 90px;
}
.wrapper_footer .footer_dir {
    width: 380px;
}
.wrapper_footer .footer_dir .botoes {
    margin-top: 46px;
}
.wrapper_footer .footer_dir .botoes button {
    padding: 6px 20px;
    border-radius: 18px;
    margin: 0 80px 12px 20px;
}

/* ASSINE.HTML */

.wrapper_flex_center {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.titulo_pra_quem {
    margin: 155px 300px 130px 300px;
}
.wrapper_flex_center .alu_pro_exp {
    width: 1200px;
    height: 790px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.alu_pro_exp .card_alu_pro_exp {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}
.alu_pro_exp .card_alu_pro_exp p {
    text-align: justify;
    border-left: 3px solid #D4145A;
    padding-left: 20px;
    line-height: 22px;
}
.wrapper_flex_center .texto_comunidade {
    margin-top: 36px;
    width: 970px;
    line-height: 40px;
    text-align: start;
}
.wrapper_flex_center .titulo_unica_porta b {
    color: #D4145A;
}
.wrapper_flex_center .wrapper_circulos {
    margin: 40px 0 170px 0;
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.wrapper_circulos .circulo {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 6px solid #969696;
    display: grid;
    place-items: center;
}
.wrapper_circulos .circulo spam {
    color: #969696;
    text-align: center;
}
.wrapper_circulos .circulo.degrade {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #EDA0BC, #D4145A) border-box;
    border: 6px solid transparent;
}
.wrapper_flex_center .titulo_ficar_parado {
    background-color: #333333;
    border-radius: 10px;
    font-size: 50px;
    padding: 30px 50px;
    margin: 20px;
}
.wrapper_flex_center .wrapper_planos {
    width: 1200px;
    margin: 76px 0 27px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.wrapper_flex_center .container_planos {
    margin-top: 50px;
    width: 370px;
    height: 907px;
    background-color: #333333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    position: relative;
}
.wrapper_flex_center .container_planos.mais_vendido {
    margin-top: 0;
    border-top: 50px solid #D4145A;
}
.wrapper_flex_center .container_planos .titulo_plano {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    margin-top: 43px;
}
.wrapper_flex_center .container_planos .wrapper_valor {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 240px;
}
.container_planos .planos_flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.wrapper_valor .valor_plano {
    font-size: 100px;
    font-weight: 900;
    line-height: 105px;
    color: #ffffff;
    border-width: 4px 0 4px 0;
    border-style: solid;
    border-color: #D4145A;
    margin: 25px 40px 0 40px;
}
.wrapper_valor .valor_plano_decor {
    font-size: 30px;
    font-weight: 800;
    color: #969696;
}
.wrapper_valor .valor_plano_decor.RS {
    position: absolute;
    left: 10px;
    top: 27px;
}
.wrapper_valor .valor_plano_decor.OO {
    position: absolute;
    right: 5px;
    bottom: 50px;
}
.container_planos .vanjagens {
    display: grid;
    place-items: center;
    font-size: 25px;
    text-align: center;
    height: 92px;
    width: 100%;
}
.container_planos .vanjagens.escuro {
    font-weight: 400;
    color:#969696;
}
.container_planos .vanjagens.claro {
    font-weight: 800;
}
.container_planos hr {
    width: 100%;
    border: 1px solid black;
}
.container_planos .botao_assine_agora_planos {
    color: #333333;
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 10px 40px;
}
.container_planos .texto_mais_vendido {
    position: absolute;
    top: -72px;
    color: #333333;
}
.wrapper_flex_center .texto_parcele {
    border: 2px solid #D0D0D0;
    border-radius: 10px;
    width: 1170px;
    height: 80px;
    display: grid;
    place-items: center;
}
.wrapper_flex_center .texto_parcele spam {
    color: #333333;
    font-size: 25px;
}
.wrapper_flex_center .texto_live {
    /* border-width: 0 2px 2px 2px;
    border-style: solid; */
    background-color: #D0D0D0;
    border-radius: 0 0 10px 10px;
    width: 770px;
    height: 55px;
    display: grid;
    place-items: center;
    margin-bottom: 175px;

}
.wrapper_flex_center .texto_live spam {
    color: #333333;
    font-size: 25px;
    font-weight: 800;

}

/* Conteudo */
.main_body_conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    counter-reset: etiqueta_counter;
    margin-bottom: 183px;
}
.banner_background_conteudo {
    height: 536px;
    width: 100%;
    background-image: url('assets/jpg/IMAGEM_TOPO.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner_background_conteudo .banner_conteudo_wrapper {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.banner_background_conteudo spam {
    width: 350px;
    height: 150px;
    font-size: 64px;
    font-weight: 800;
    line-height: 70px;
    color: #333333;
}
.banner_background_conteudo p {
    width: 450px;
    height: 180px;
    font-size: 33px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;
}
.banner_background_conteudo p b{
    font-weight: 800;
    color: #333333;
}
.main_body_conteudo hr {
    border-width: 2.5px 0 2.5px 0;
    border-color: #D4145A;
    border-style: solid;
    width: 100%;
    margin-bottom: 62px;
}
.main_body_conteudo .wrapper_hashtags {
    margin-top: 52px;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.main_body_conteudo .wrapper_hashtags .hashtag {
    padding: 14px 40px;
    color: #333333;
    font-size: 17px;
    line-height: 16px ;
    font-weight: 800;
    border: 2px solid #333333;
    border-radius: 24px;
}
.wrapper_hashtags .hashtag.vermelho {
    color: #ffffff;
    background-color: #D4145A;
    border: 2px solid #D4145A;

}
.main_body_conteudo .wrapper_etiquetas {
    margin-top: 50px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.wrapper_etiquetas .etiqueta {
    margin: 5px 15px;
    width: 366px;
    height: 100px;
    border: 2px solid #333333;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.wrapper_etiquetas .etiqueta.vermelha {
    border: 2px solid #D4145A;
    background-color: #D4145A;
}
.etiqueta .etiqueta_counter {
    width: 85px;
    height: 60px;
    border-right: 2px solid #333333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.etiqueta.vermelha .etiqueta_counter {
    border-right: 2px solid #ffffff;
}
.etiqueta .etiqueta_counter spam {
    padding-left: 25px;
    color: #333333;
    font-size: 17px;
    font-weight: 400;
}
.etiqueta.vermelha .etiqueta_counter spam {
    color: #ffffff;
}
.etiqueta .etiqueta_counter .dois_zero::after {
    display: block;
    counter-increment: etiqueta_counter;
    content: '00'counter(etiqueta_counter);
    font-weight: 800;
}
.etiqueta .etiqueta_counter .um_zero::after {
    display: block;
    counter-increment: etiqueta_counter;
    content: '0'counter(etiqueta_counter);
    font-weight: 800;

}

.etiqueta .etiqueta_descricao {
    margin-left: 15px;
    width: 250px;
    height: 60px;
    line-height: 15px;
}
.etiqueta .etiqueta_descricao p {
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 800;
    color: #333333;
}
.etiqueta .etiqueta_descricao spam {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.etiqueta.vermelha .etiqueta_descricao p {
    color: #ffffff;
}
.etiqueta.vermelha .etiqueta_descricao spam {
    color: #ffffff;
}

/* entrar */
.main_body_entrar {
    margin: 0 auto;
    width: 970px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_body_entrar .titulo_hub {
    width: 970px;
    text-align: center;
    margin: 120px 0;
}
.main_body_entrar .card_entrar {
    height: 330px;
    border: 10px solid #D4145A;
    border-radius: 15px;
    margin-bottom: 30px;
}
.main_body_entrar .card_entrar.grande {
    width: 950px;
    background-image: url('assets/jpg/IMAGEM_TOPO.jpg');
    background-size: cover;
}
.main_body_entrar .card_entrar.pequeno {
    width: 450px;
    background-color: black;
}
.main_body_entrar .card_entrar.pequeno.alto {
    height: 398px;
    background-color: black;
}
.card_entrar .card_conteudo {
    height: 185px;
    width: auto;
    margin: 17px 0 17px 27px;
    padding-left: 21px;
    border-left: 3px solid #D4145A;
    display: block;
}
.card_entrar .card_conteudo.alto {
    height: 253px;
}
.card_entrar .card_conteudo p {
    text-align: left;
    line-height: 30px;
    margin: 10px auto;
}
.card_entrar .wrapper_button {
    margin-left: 27px;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_entrar .wrapper_button button {
    padding: 15px 40px;
    border-radius: 30px;
}
.card_entrar .wrapper_button p {
    padding-top: 12px;
    font-size: 16px;
    color: #333333;
}
.card_entrar .wrapper_button p b {
    font-weight: 800;
    color: #333333;
}

/* FAQ */
.container_faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq_titulo {
    width: 1200px;
    margin: 120px 0;
}
.wrapper_accordion {
    width: 100%;
    display: flex;
    justify-content: center;
}
.accordion {
    width: 970px;
}
.accordion .content_box {
    position: relative;
}
.accordion .content_box .accordion_label {
    position: relative;
    border-bottom: 2px solid #333333;
    cursor: pointer;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.accordion .content_box .accordion_content {
    position: relative;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
    transition: 0.25s ease-in;
}
.accordion .content_box.active .accordion_content {
    height: auto;
    padding: 10px;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #333333;
  transition: 0.25s ease-in;
}
.material-symbols-outlined.open {
    transform: rotate(90deg);
}
.container_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_inputs {
    width: 970px;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(2) 1fr;
    grid-template-rows: 100px 100px 150px;
}
#duvidas {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    height: 340px;
    border-radius: 40px;
    justify-self: end;
    position: relative;    
}
#nCompleto,
#eMail {
    grid-column: 1;
    width: 400px;
    height: 80px;
    border-radius: 40px;
    position: relative; 
}
#duvidas::placeholder,
#nCompleto::placeholder,
#eMail::placeholder {
    position: absolute;
    top: 16px;
    left: 40px;
    font-size: 30px;
}
.faq_botao_enviar {
    margin: 70px 0 0 0;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    padding: 25px 120px;
    border-radius: 40px;
}
