/* geral */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    color: white;
}

/* header */
header{
    background-color: black;
    height: 120px;
}
#logo_header{
    height: 120px;
    display: flex;
    width:620px;
    align-items: center;
}
#logo_header img{
    margin-bottom: 8px;
    margin-right: 23px;
    height: 69px;
    width: 277px;
}
#texto_header{
    height: 54px;
    font-size: 20px;
    color: white;
    line-height: 27.4px;
}
#menu_header{
    font-size: 20px;
    color: white;
    line-height: 27.4px;
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.container{
    height: 120px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}